
    body {
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;  
        margin: 0;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#coffeeshop-neon {
    position: relative;
    flex-shrink: 2;
    max-height: 80%;
    overflow: hidden;
}

#white {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1.5;
}



#neon { 
    display: none;
    position: absolute;
    height: 100%;
    animation: bg-color-slider 1.5s linear infinite;
    transition: background 1s ease-in-out;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1.5;
}


@keyframes bg-color-slider {
    0%, 100% {
        background-color: yellow;
    }
    25% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    75% {
        background-color: yellow;
    }
}

#coffeeshop {
    position: relative;
    max-width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

#image {
    object-fit: contain;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}


/* aspect-ratio: 1.5;
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    */



#button-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: start;
    padding-top: 5%;

}


.button {
width: 150px;
height: 80px;

border: black 1px solid ;
border-radius: 5px;
background-color: #262626;
color: #ffffff;
}